.main-chat
  .main-chat__group-info
    .left-box
      %h2.left-box__current-group
        = @group.name
      %ul.left-box__member-list
        Member:
        %li.left-box__member-list__member
          - @group.users.each do |user|
            = user.nickname
    .edit-btn
      = link_to edit_group_path(@group.id) do
        .edit-btn__text
          Edit
  .main-chat__message-list
    .messages
      = render @messages
  .main-chat__message-form
    .form-box
      .form-box__input-area
        = form_for [@group, @message] do |f|
          = f.text_field :text, class: 'input-text', placeholder: 'type a message'
          = f.label :image, class: 'pic-btn' do
            = icon('far', 'image', class: 'pic-btn')
            = f.file_field :image, class: 'file-select'
          = f.submit 'Send', class: 'submit-btn'